{{>nav}}

<header class="header">
  <h1>
    Carrito de compras
  </h1>
</header>

{{#if exist_prods }}
    <div class="col-8">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio</th>
                </tr>
            </thead>
            <tbody>
                <!-- cart.products -> solo hace referencia a la relacion -->
                {{#each products}}
                        <tr>
                            <th>{{@index}}</th>
                            <th>
                                
                                    <img src="{{ this.item.thumbnail }}" alt="Imagen del producto" width="60" height="60">
      
                            </th>
                            <th>
                                <a href="/productos/{{this.item.id}}">
                                    {{ this.item.title }}
                                </a>
                                {{>remove}}
                            </th>
                            <th>
                                {{ this.qty }}
                            </th>
                            <th>
                                <span class="font-weight-bold text-danger">{{ this.price}}</span>
                            </th>
                        </tr>                      
                {{/each}}       
            </tbody>
        </table>
    </div>
    <div class="col">
        <div class="card-body">
            <div class="font-weight-bold">
                Subtotal ({{ session.cart.totalQty }}): <span class="text-danger">{{ session.cart.totalPrice}}</span>
            </div>
            <div class="mt-2">
                <a href="" class="btn btn-warning">Proceder al pago</a>
            </div>
        </div>
    </div>
{{else}}
    <div class="col">
        <p class="h3">Tu carrito de compras está vacío.</p>
        <a href="/">Seguir comprando</a>
    </div>
{{/if}}
