{{>nav}}

<header class="header">
  <h1 class="home">
    Info
  </h1>
</header>

<div class="container-img">
  <img src="./images/abraxas.webp" alt="Abraxas" width="333">
</div>

<div class="container-info">
  <h2>Ruta ejecución: {{folder}}</h2>
  <h2>Carpeta proyecto: {{path}}</h2>
  <h2>Plataforma: {{platform}}</h2>
  <h2>ID: {{process_id}}</h2>
  <h2>Versión: {{version}}</h2>
  <h2>Memoria reservada: {{memory.rss}}</h2>
  <h2>CPUs: {{cpus}}</h2>
</div>




